<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<div th:replace="layout::div-1('Update product','/product','Back to product list')"></div>

<div id="form">
    <form th:action="@{/product/edit}" method="post" th:object="${product}">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" id="price" th:field="*{price}"/>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}"/>
        </div>
        <div>
            <label for="producer">Producer</label>
            <input type="text" id="producer" th:field="*{producer}"/>
        </div>
        <div>
            <td><img width="100" height="100" th:src="@{'/image/'+*{img}}" alt=""></td>
        </div>

        <input type="submit" value="Update">
    </form>
</div>

<footer th:replace="layout::footer"></footer>
</body>
</html>